{% load static %}

<!--네이게이션바 시작-->
<nav class="navbar">
  <ul class="navbar-nav">
    <!--logo-->
    <li class="logo">
      <a href="{% url 'movies:index' %}" class="nav-link">
        <span class="link-text logo-text">HOOCHA</span>
        <i class="fas fa-video"></i>
      </a>
    </li>

    <!-- nav items -->
    {% if request.user.is_authenticated %}
    <!-- 프로필 안에 회원정보 수정 페이지 삽입하기 ! -->
    <!-- 프로필 -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:profile' user.username %}">
        <i class="fas fa-user-circle"></i>
        <span class="link-text">프로필</span>
      </a>
    </li>
    <!-- 로그아웃 -->
    <li class="nav-item">
      <form class="nav-link" action="{% url 'accounts:logout' %}" method="POST">
        {% csrf_token %}
        <i class="fas fa-sign-out-alt"></i>
        <input class="ml-1 btn btn-danger" type="submit" value="로그아웃">
      </form>
    </li>
    {% else %}
    <!-- 회원가입 -->
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:signup' %}">
        <span class="link-text">회원가입</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'accounts:login' %}">
        <span class="link-text">로그인</span>
      </a>
    </li>
    {% endif %}

    <li class="nav-item" id="themeButton">
      <a class="nav-link">
        <i id="filmIcon" class="theme-icon fas fa-film"></i>
        <i id="darkIcon" class="theme-icon fas fa-moon"></i>
        <i id="lightIcon" class="theme-icon fas fa-sun"></i>
        <span class="link-text">theme</span>
      </a>
    </li>
  </ul>
</nav>
<!-- 네비게이션바 끝 -->

{% block theme %}
{% endblock  %}