<nav class="modal-navbar">
  <ul class="modal-navbar-nav">
    <!-- logo -->
    <li class="modal-logo">
      <a href="#" class="modal-nav-link no-uline">
        <i class="far fa-arrow-alt-circle-right"></i>
        <span class="modal-link-text">hoocha</span>
      </a>
    </li>

    <!-- menu -->
    <li class="modal-nav-item">
      <a href="{% url 'movies:index' %}" class="modal-nav-link no-uline">
        <i class="fas fa-home"></i>
        <span class="modal-link-text">Home</span>
      </a>
    </li>
    <li class="modal-nav-item">
      <a href="{% url 'movies:review_list' movie.id %}" class="modal-nav-link no-uline">
        <i class="fas fa-pencil-alt"></i>
        <span class="modal-link-text">Review</span>
      </a>
    </li>
    <li class="modal-nav-item">
      <a href="{% url 'movies:oneline_list' movie.id %}" class="modal-nav-link no-uline">
        <i class="fas fa-star"></i>
        <span class="modal-link-text">Comment</span>
      </a>
    </li>
  </ul>
</nav>
