{% extends 'base.html' %}
{% load static %}
{% load customtag %}

<!-- css -->
{% block modal %}
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

<!-- content -->
{% block content %}
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
      <div class="carousel-inner text-center">
      <!-- movie slide -->
        {% for movieList in movies|customMovieList %}
          <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %}">          
            {% for movie in movieList %}
              <a data-toggle="modal" data-target="#staticBackdrop{{ movie.id }}">
                <img class="movie-image col-sm-4 col-md-2" src="{{ movie.poster_path }}" alt="{{ movie.title }}">
              </a>
            {% endfor %}
          </div>
        {% endfor %}
      </div>

      <!-- carousel button -->
      <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>

  {% for movie in movies %}
    {% include 'movies/_detail_modal.html' %}
  {% endfor %}

{% endblock content %}