{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">{{ person.username }}님의 프로필</h1>
  <p>{{ person.first_name }} {{ person.last_name }}</p>
  <hr class="my-4">
  <p class="lead">{{ person.email }}</p>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#userChangeModal">
    회원정보 수정
  </button>

  <!-- Modal -->
  <div class="modal fade" id="userChangeModal" tabindex="-1" aria-labelledby="userChangeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="userChangeModalLabel">회원정보 수정</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            {% csrf_token %}
            <div class="form-group row">
              <label for="email-input" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                <input id="email-input" type="email" class="form-control" value={{ person.email }}>
              </div>
            </div>

            <div class="form-row">
              <div class="col">
                <input id="first-name-input" type="text" class="form-control" placeholder="이름" value={{ person.first_name }}>
              </div>
              <div class="col">
                <input id="last-name-input" type="text" class="form-control" placeholder="성" value={{ person.last_name }}>
              </div>
            </div>
            
            <div class="modal-footer">
              <a class="btn btn-primary" href="{% url 'accounts:change_password' %}" role="button">비밀번호 변경</a>
              <button id="user-change-button" type="button" class="btn btn-primary">저장</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  
  <h3>남긴 평점</h3>
  {% for oneline in person.oneline_set.all %}
    <ul>
      <li>{{ oneline.movie.title }} - {{ oneline.vote_rating }}</li>
    </ul>
  {% endfor %}
  <hr>
  <h3>작성한 리뷰</h3>
  {% for review in person.review_set.all %}
    <ul>
      <li>{{ review.title }}</li>
    </ul>
  {% endfor %}
  <hr>
  <h3>작성한 댓글</h3>
  {% for comment in person.comment_set.all %}
    <ul>
      <li>{{ comment.content }}</li>
    </ul>
  {% endfor %}
  <hr>
</div>

{% endblock  %}

{% block script %}
<script>
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  const userChangeButton = document.querySelector('#user-change-button')
  userChangeButton.addEventListener('click', e => {
    e.preventDefault()
    console.log(e)

    const email = document.querySelector('#email-input').value
    const first_name = document.querySelector('#first-name-input').value
    const last_name = document.querySelector('#last-name-input').value

    const url = `http://127.0.0.1:8000/accounts/update/`

    axios({
      url: url,
      method: 'post',
      headers: { 'X-CSRFToken': csrftoken },
      data: {
        email: email, 
        first_name: first_name,
        last_name: last_name,
      }
    })
    .then(res => {
      console.log(res)
      window.location.reload()
    })
    .catch(err => {
      console.log(err)
    })
  })
</script>
{% endblock  %}