{% extends 'base.html' %}

{% block content %}
  <h2>{{ person.username }}님의 프로필</h2>
  <hr>

  <h3>{{ person.username }}님이 작성한 글</h3>
  {% for review in person.review_set.all %}
    <p>글번호: {{ review.id }}</p>
    <p>제목: {{ review.title }}</p>
    <hr>
  {% endfor %}

  <h3>{{ person.username }}님이 좋아요한 글</h3>
  {% for review in person.reviews.all %}
    <p>글번호: {{ review.pk }}</p>
    <p>제목: {{ review.title }}</p>
    <hr>
  {% endfor %}
  <a href="{% url 'reviews:index' %}">[back]</a>
{% endblock  %}