{% extends 'base.html' %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/signup_and_login.css' %}">
{% endblock  %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-xs-12 col-md-8">
      <div class="login-box">
        <h1 class="text-light">회원가입</h1>
        <form class="d-flex flex-column" action="" method="POST">
          {% csrf_token %}
          {% for field in form %} 
            <div class="form-group m-3">
              <span>{{ field.errors }}</span>
              <span class="text-light">{{ field.label }}</span>
              <span>{{ field }}</span>
            </div>
          {% endfor %}
          <br>
          <input class="signup-button btn mt-3 m-3" type="submit">
        </form>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
{% endblock %}
